.button {
    height: 57px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background: #F65261;
}